# Solutions to Lesson 2

## Lab 2 Solution

This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).

In [ ]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..','..','dataset', 'ozone.csv'))

In [ ]:
print data.head()

Print the column names of the dataset to the screen, one column name per line.

In [ ]:
for x in data.columns.values:
    print x

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [ ]:
tmp = data.iloc[0:1] # or data.head(2)
print tmp

How many observations (i.e. rows) are in this data frame?

In [ ]:
print len(data)

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [ ]:
tmp = data.tail(2)
print tmp

What is the value of Ozone in the 47th row?

In [ ]:
print data.ix[46:48,]

In [ ]:
print data.ix[47,'Ozone']

How many missing values are in the Ozone column of this data frame?

In [ ]:
print data['Ozone'].isnull().sum()
print len(data) - len(data['Ozone'].dropna())

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [ ]:
print data['Ozone'].mean()

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of "Solar.R" in this subset?

In [ ]:
print data[(data.Ozone > 31) & (data.Temp > 90)].head()

In [ ]:
print data[(data.Ozone > 31) & (data.Temp > 90)]['Solar.R'].mean()

What is the mean of "Temp" when "Month" is equal to 6?

In [ ]:
print data[ data.Month==6 ].Temp.mean()
print data[ data.Month==6 ]['Temp'].mean()

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [ ]:
print data[ data.Month==5 ].Ozone.max()